body{
    font-size: 12px;
}
.entity-details{
    margin-top:10px;
    font-size: 0.8em;
    width: 100%;
}

ul.alert-danger li{
    list-style-type: none;
}

.pull-right{
    margin-left: 5px;
}

.header-form{
    float:right;
}

.data-content{
    width: 100%;
    overflow-x: scroll;
}

.row{
    margin:0px;
}


.icon{
  width: 30px;
  filter: grayscale(100%);
  opacity: 0.7;
  margin-right: 5px;
  cursor: pointer;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.icon.big{
    width: 65px;
}

.icon.selected{
    filter: grayscale(0%);
    opacity: 1;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;    
}

.single-view{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}

.cb{
    display: none;
}